{{#extends "base"}}

{{#block "content"}}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.description}}</td>
            <td>
                <a href="/products/{{this.id}}/update"
                    class="btn btn-primary btn-sm"
                >Update</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}